{% extends 'base.html.twig' %}

{% block body %}
  <main class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Vignette</th>
          <th>Date début</th>
          <th>Date de fin</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
          <tr>
            {% if booking.housing.images %}
              <td>{{ booking.housing.thumbnail }}</td>
            {% endif %}
            <td>{{ booking.startDate | date('Y-m-d') }}</td>
            <td>{{ booking.endDate | date('Y-m-d') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock %}