<ul class="images"
        data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"
    >
        {% for image in form.images %}
            <li>
              {{ form_widget(image) }}
            </li>
        {% endfor %}
    </ul>
    
<button type="button" class="btn btn-primary add_item_link" data-collection-holder-class="images">
  Ajouter une image
</button>

<script>
const addFormToCollection = (e) => {
  const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

  const item = document.createElement('li');

  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );

  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
};


document
  .querySelectorAll('.add_item_link')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });
</script>

<script>
const addTagFormDeleteLink = (item) => {
    const removeFormButton = document.createElement('button');
    removeFormButton.classList.add('btn', 'btn-danger')
    removeFormButton.innerText = 'Supprimer';

    item.append(removeFormButton);

    removeFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        item.remove();
    });
}

document
    .querySelectorAll('ul.images li')
    .forEach((tag) => {
        addTagFormDeleteLink(tag)
    })
</script>