{% extends "base.html.twig" %}

{% block body %}
  
  <main class="container">
      <div class="row gap-3">
        {% for housing in housings %}
          <a class="col-2 card" href="{{ path('housing.show', {slug: housing.slug, id: housing.id}) }}">
            <article>
              <p>{{ housing.address }}</p>
              <p><strong>{{ housing.formatedPrice }}</strong> par nuit</p>
            </article>
          </a>
      {% endfor %}
      </div>
  </main>

{% endblock %}